.hero-hicare-container .hero-hicare-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-hicare {
  position: relative;
  padding: 160px 24px 80px;
  min-height: 500px;
}

.hero-hicare h1,
.hero-hicare h2,
.hero-hicare h3,
.hero-hicare h4,
.hero-hicare h5,
.hero-hicare h6,
.hero-hicare p {
  max-width: 600px;
  margin-left: 0;
  margin-right: auto;
  color: var(--text-color);
}

.hero-hicare p:first-of-type {
  font-size: 40px;
  font-weight: 100;
  line-height: 1;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 27px;
}

.hero-hicare p:first-of-type em {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 250;
  display: block;
}

.hero-hicare p:last-of-type {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.44;
  margin-top: 16px;
  text-transform: none;
}

.hero-hicare.no-image * {
  color: var(--text-color);
}

.hero-hicare picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero-hicare img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (width >= 900px) {
  .hero-hicare {
    padding: 200px 80px 120px;
    min-height: 600px;
  }

  .hero-hicare p:first-of-type {
    font-size: 56px;
    line-height: 1;
    letter-spacing: -0.56px;
    margin-bottom: 38px;
  }

  .hero-hicare p:last-of-type {
    font-size: 17px;
    line-height: 1.35;
    margin-top: 17px;
    text-transform: none;
  }
}