.carousel-services .carousel-services-slides-container {
  position: relative;
}

.carousel-services .carousel-services-intro {
  display: none;
}

.carousel-services .carousel-services-slides,
.carousel-services .carousel-services-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-services .carousel-services-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: scroll clip;
  gap: 16px;
}

.carousel-services .carousel-services-slides::-webkit-scrollbar {
  display: none;
}

.carousel-services .carousel-services-slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
}

.carousel-services .carousel-services-slide .carousel-services-slide-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.carousel-services .carousel-services-slide .carousel-services-slide-image picture {
  display: block;
  width: 100%;
  height: 100%;
}

.carousel-services .carousel-services-slide .carousel-services-slide-image picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-services .carousel-services-slide .carousel-services-slide-content {
  padding: 24px 0;
}

.carousel-services .carousel-services-slide .carousel-services-slide-content > p {
  margin: 0;
}

.carousel-services .carousel-services-slide .carousel-services-slide-content .carousel-services-heading {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 16px;
  color: var(--text-color);
}

.carousel-services .carousel-services-slide .carousel-services-slide-content .carousel-services-body {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: var(--text-color);
  margin-top: 0;
}

.carousel-services .carousel-services-slide .carousel-services-slide-content .carousel-services-body a {
  display: block;
  margin-top: 16px;
}

.carousel-services .carousel-services-slide-indicators {
  display: none;
}

@media (width >= 900px) {
  .carousel-services .carousel-services-slides-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    align-items: start;
  }

  .carousel-services .carousel-services-intro {
    display: block;
  }

  .carousel-services .carousel-services-intro-heading {
    font-size: 56px;
    font-weight: 100;
    line-height: 56px;
    letter-spacing: -0.56px;
    text-transform: uppercase;
    margin-bottom: 0;
    color: var(--text-color);
  }

  .carousel-services .carousel-services-intro-heading em {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 250;
    display: block;
  }

  .carousel-services .carousel-services-intro-body {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--text-color);
    margin-bottom: 0;
  }

  .carousel-services .carousel-services-intro-body a {
    display: block;
    margin-top: 24px;
  }

  .carousel-services .carousel-services-slides {
    display: contents;
    overflow: visible;
    scroll-snap-type: none;
  }

  .carousel-services .carousel-services-slide {
    flex: none;
    width: auto;
    scroll-snap-align: none;
  }

  .carousel-services .carousel-services-slide .carousel-services-slide-content .carousel-services-heading {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}
