/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --background-color: white;
  --light-color: #f8f8f8;
  --dark-color: #505050;
  --text-color: #000;
  --text-color-gray: #818181;
  --link-color: #000;
  --link-hover-color: #505050;
  --dark-green: rgb(43 79 79);

  /* fonts */
  --body-font-family: 'Helvetica Neue Web', helvetica-neue-fallback, helvetica, arial, sans-serif;
  --heading-font-family: 'Helvetica Neue Web', helvetica-neue-fallback, helvetica, arial, sans-serif;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 48px;
  --heading-font-size-l: 22px;
  --heading-font-size-m: 12px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* letter spacing */
  --heading-letter-spacing-xxl: -0.56px;
  --heading-letter-spacing-xl: -0.56px;
  --heading-letter-spacing-l: -0.22px;
  --heading-letter-spacing-m: 1.8px;

  /* nav height */
  --nav-height: 64px;

  /* container width */
  --container-width: 1735px;
}

/* fallback fonts */
@font-face {
  font-family: helvetica-neue-fallback;
  size-adjust: 100%;
  src: local('Helvetica'), local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  font-weight: 300;
  line-height: 1.49;
  letter-spacing: 0.21px;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

footer .footer {
  background-color: var(--dark-green);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 100;
  line-height: 1;
  scroll-margin: 40px;
  text-transform: uppercase;
}

h1 {
  font-size: var(--heading-font-size-xxl);
  letter-spacing: var(--heading-letter-spacing-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
  letter-spacing: var(--heading-letter-spacing-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
  letter-spacing: var(--heading-letter-spacing-l);
}

h4 {
  font-size: var(--heading-font-size-m);
  letter-spacing: var(--heading-letter-spacing-m);
  font-weight: 500;
}

h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

h2 em {
  font-family: 'Times Now', 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 200;
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  overflow-wrap: break-word;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.21px;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 0;
  border-radius: 0;
  padding: 20px 16px;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--text-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
  text-decoration: none;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: var(--container-width);
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

/* hero section styling */
main > .section:first-of-type > div > p:first-of-type a,
main > .section:first-of-type > div > p:first-of-type a.button {
  display: inline-flex;
  position: relative;
  align-items: center;
  gap: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-decoration: none;
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  max-width: none;
}

main > .section:first-of-type > div > p:first-of-type a::before {
  content: '';
  display: block;
  width: 48px;
  height: 1px;
  background-color: var(--dark-green);
  flex-shrink: 0;
  transition: width 0.3s ease-in-out, background 0.3s ease-in;
}

main > .section:first-of-type > div > p:first-of-type a:hover,
main > .section:first-of-type > div > p:first-of-type a.button:hover {
  text-decoration: underline;
  background-color: transparent;
  color: var(--text-color);
}

main > .section:first-of-type > div > p:first-of-type a:hover::before {
  width: 100%;
}

main > .section:first-of-type h1 {
  margin-top: 40px;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: -0.56px;
}

main > .section:first-of-type h1 + p {
  font-size: 48px;
  font-weight: 100;
  line-height: 48px;
  letter-spacing: -0.56px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 32px;
}

main > .section:first-of-type h1 + p em {
  font-family: 'Times Now', 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 200;
}

main > .section:first-of-type h1 + p + p {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color-gray);
}

main > .section:first-of-type h1 + p + p + p {
  display: inline-block;
  margin: 0 0 40px;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 92.5px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

main .section.dark-green {
  background-color: var(--dark-green);
  color: white;
  margin: 0;
  padding: 64px 0;
}

main .section.dark-green > div {
  max-width: 680px;
}

main .section.dark-green blockquote {
  margin: 32px 0;
  padding: 0;
  border: none;
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
  position: relative;
}

main .section.dark-green blockquote::before {
  content: '\201C';
  display: block;
  font-size: 39px;
  line-height: 39px;
  margin-bottom: 16px;
  color: rgb(255 255 255);
  opacity: 0.5;
  font-weight: 400;
}

main .section.dark-green blockquote p {
  margin: 32px 0;
  font-size: 32px;
  font-weight: 200;
  line-height: 40px;
}

main .section.dark-green > div > p {
  font-size: 14px;
  line-height: 20px;
}

main > .section:first-of-type h1 + p em {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-weight: 250;
}

main > .section:first-of-type h1 + p + p {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-color-gray);
}

main > .section:first-of-type h1 + p + p + p {
  display: inline-block;
  margin: 0 0 40px;
  padding: 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  border: 1px solid var(--text-color);
  text-transform: uppercase;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

main .section.dark-green > div > p:first-of-type {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 16px;
  font-weight: 500;
  margin-top: 16px;
  margin-bottom: 0;
}

main .section.dark-green > div > p:first-of-type::before {
  content: '';
  display: block;
  width: 24px;
  height: 1px;
  background-color: white;
  flex-shrink: 0;
}

main .section.dark-green > div > p:last-of-type {
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 40px;
}
